*,
:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
    font-family: 'Inter', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    
    
}

header{
    
    height: 10%;
    text-align: right;
    background-color: #341C8C;
    
    
    
    
}
.img_h{
    top: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    height: 85px;
    width: auto;
    margin-top: 0px;
    border-top: 0px none red;




}
header img{
    height: auto; /* Altura automática para manter a proporção */
    display: block;
    padding-top: 0px;
    margin-top: 0px;
    border-top: 0px;
    top: 2px;
    bottom: 10px;
    width: 90px; /* Largura da imagem */
    float: left; /* Alinha a imagem à esquerda */
    margin-right: 10px; /* Adiciona um espaço à direita da imagem */
    margin-bottom: 10px;
    text-align: top;

}

header ul {
    padding: 0;
    margin-right: 2%;



}
header li{
    background-color: #fefefe;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    border: 5px solid #fefefe;
    margin: 13px 5px;
    border-radius: 13px;
    
}
nav{
    background-color: #432C71;
    height: 643px;



}

section{
    background-color: #fff;
    height: 2000px


}
footer{
    width: 100%;
    min-height: 120px; /* Altura mínima do footer como 100 pixels */
    background-color: #432C71;
    color: #fff;
    height: 250px;
    position: relative;
    bottom: 12px;
    padding-right: 0px;
    padding-top: 20px;
    padding-left: 10px;
    margin-right: auto; /* Espaço entre os elementos */

}
footer div{
    top: 0px;
    margin-right: auto; /* Espaço entre os elementos */
    text-align: center;
    
    
}
.horarios{
    padding: 60px; /* Adiciona 10 pixels de preenchimento dentro do elemento */

    line-height: 1.5; /* Define o espaçamento entre linhas como 1.5 vezes a altura da fonte */

    top: 0px;
    float: left;
    position: relative;
    
}




